<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h5>简单计算器</h5>
            <span>a:</span><input v-model="a" type="number"></br>
            <span>b:</span><input  v-model="b"  type="number"></br>
            <span>a+b：</span> <span >{{result}}</span>
            <div v-on:click="hanndle">计算</div>

    </div>
    
</body>
</html>
<script src="vue.js"></script>
<script>
  var app=new Vue({
           el:"#app",
           data:{
               a:"",
               b:" ",
               result:"",
           },
           methods:{
              hanndle(){
                 this.result=parseInt(this.a)+parseInt(this.b);
              }
           }
  })
</script>